 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
    <style>
     .home-container {
       display: grid;
       grid-template-columns: 1fr 3fr;

     }
   </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}
     
    {%endblock%}
  </body>
</html>